<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jimmy.rdf.frame.mapper.SysResourcesMapper">
    <select id="loadUserResources" parameterType="java.util.HashMap" resultType="com.jimmy.rdf.frame.entity.SysResources">
        SELECT res.id,res.res_name,res.res_type,res.res_url,res.parent_id,res.available,res.res_sort,res.tenant_id,res.is_enable,res.create_date,res.create_user,res.update_date,res.update_user FROM sys_resources res
        LEFT JOIN sys_role_resources rr
        ON res.id = rr.resources_id
        LEFT JOIN sys_user_role ur
        ON rr.role_id =ur.role_id
        WHERE ur.user_id=#{userid}
        <if test="type != null">
            AND re.res_type= #{type}
        </if>
        GROUP BY res.id
        ORDER BY res.res_sort ASC;
    </select>
    <select id="queryResourcesByParentId" parameterType="java.util.HashMap" resultType="com.jimmy.rdf.frame.entity.SysResources">
        SELECT res.id,res.res_name,res.res_type,res.res_url,res.parent_id,res.available,res.res_sort,res.tenant_id,res.is_enable,res.create_date,res.create_user,res.update_date,res.update_user FROM sys_resources res
        where 1=1
        <if test="parent_id != null">
            AND res.parent_id= #{parent_id}
            and res.res_type!='button'
        </if>
        GROUP BY res.id
        ORDER BY res.res_sort ASC
    </select>
</mapper>